@import './../../styles/mixins.scss';

.table {
  width: 100%;
  border-spacing: 0;

  &__cell {
    white-space: nowrap;
    text-align: start;
    padding: 24px 0;
    border-right: none;
    border-bottom: 1px solid #eee;

    @include onPhone {
      padding: 24px 20px 24px 0;

      &:first-child {
        padding-left: 20px;
      }
    }
  }

  &__row:last-child &__cell {
    border-bottom: none;
  }

  &__header-cell {
    position: relative;
    white-space: nowrap;
    padding-bottom: 14px;
    font-weight: 500;
    text-align: start;
    font-size: 14px;
    line-height: 21px;
    color: #B5B7C0;
    border-bottom: 1px solid #eee;

    &::after {
      content: "";
      position: absolute;
      left: -40px;
      bottom: -1px;
      width: 40px;
      border-bottom: 1px solid #eee;

      @include onPhone {
        width: 0;
      }
    }

    &::before {
      content: "";
      position: absolute;
      right: -40px;
      bottom: -1px;
      width: 40px;
      border-bottom: 1px solid #eee;

      @include onPhone {
        width: 0;
      }
    }

    @include onPhone {
      padding: 24px 20px 24px 0;

      &:first-child {
        padding-left: 20px;
      }
    }
  }

  &__status {
    display: block;
    border-radius: 4px;
    width: 80px;
    height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;

    &--active {
      background: rgba(22, 192, 152, 0.38);
      border: 1px solid #00B087;
      color: #008767;
    }

    &--inactive {
      background: #FFC5C5;
      border: 1px solid #DF0404;
      color: #DF0404;
    }
  }
}
